<div class="container">
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="card">     
                <div class="card-image">
                    <img class="card-img-top" src="https://wallpapercave.com/wp/wp3891762.jpg">
                    <button class="btn btn-light rounded-circle middle btn-lg pl-3">
                        <i class="fa fa-play text ml-1 mt-2 mb-2"></i>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Avengers: Endgame</h5>
                    <div class="">
                        <h3 class="">2019</h3>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image">
                    <img class="card-img-top" src="https://wallpapercave.com/wp/wp5053013.jpg">
                    <button (click)="onClick()" class="btn btn-light rounded-circle middle btn-lg pl-3">
                        <i class="fa fa-play text ml-sm-1 mt-sm-2 mb-sm-2"></i>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Joker</h5>
                    <div class="">
                        <h3 class="">2019</h3>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card ">
                <div class="card-image">
                    <img class="card-img-top" src="https://wallpapercave.com/wp/wp5412796.png">
                    <button class="btn btn-light rounded-circle middle btn-lg pl-3">
                        <i class="fa fa-play text ml-1 mt-2 mb-2"></i>
                    </button>
                    <button class="btn btn-light rounded-circle middle btn-lg pl-3">
                        <i class="fa fa-play text ml-1 mt-2 mb-2"></i>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Uncut Gems</h5>
                    <div class="">
                        <h3 class="">2019</h3>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image">
                    <img class="card-img-top" src="https://wallpapercave.com/wp/wp5412796.png">
                    <button class="btn btn-light rounded-circle middle btn-lg pl-3">
                        <i class="fa fa-play text ml-1 mt-2 mb-2"></i>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Uncut Gems</h5>
                    <div class="">
                        <h3 class="">2019</h3>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card ">
                <div class="card-image">
                    <img class="card-img-top" src="https://wallpapercave.com/wp/wp5412796.png">
                    <button class="btn btn-light rounded-circle middle btn-lg pl-3">
                        <i class="fa fa-play text ml-1 mt-2 mb-2"></i>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Uncut Gems</h5>
                    <div class="">
                        <h3 class="">2019</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

