.navbar-nav .nav-item{
  font-size: 1.6rem;
  border: 1px solid #343a40;
}

.navbar img{
  margin-right: 2rem;
  width: 4rem;
}

.navbar{
  text-align: center;
}

.form-inline, .form-control{
  margin: auto;
}

.bordered{
  border: 1px solid #343a40;
}

@media (min-width: 992px){
  .bordered{
    float: none;
    border: none;
  }

  input[type="search"]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .navbar-nav .nav-item{
    font-size: 1.6rem;
    border: none;
  }
}
